<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xjx.production.repository.category.CategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xjx.production.entity.category.Category">
        <result column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="creator" property="creator"/>
        <result column="creator_name" property="creatorName"/>
        <result column="update_time" property="updateTime"/>
        <result column="updator" property="updator"/>
        <result column="updator_name" property="updatorName"/>
        <result column="category_name" property="categoryName"/>
        <result column="category_type" property="categoryType"/>
        <result column="category_alias1" property="categoryAlias1"/>
        <result column="category_alias2" property="categoryAlias2"/>
        <result column="attribute" property="attribute"/>
        <result column="key_feature1" property="keyFeature1"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result column="key_feature2" property="keyFeature2"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result column="key_feature3" property="keyFeature3"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result column="key_feature4" property="keyFeature4"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result column="key_feature5" property="keyFeature5"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result column="is_delete" property="isDelete"/>
    </resultMap>

    <resultMap id="pageMap" type="com.xjx.production.dto.category.CategoryPageResult" extends="BaseResultMap">
        <collection property="sizeInfos" ofType="com.xjx.production.dto.category.BasicSizeInfo" >
          <result column="sid" property="id"/>
          <result column="width" property="width"/>
            <result column="height" property="height"/>
            <result column="unit" property="unit"/>
            <result column="size_url" property="sizeUrl"/>
            <result column="category_id" property="categoryId"/>
            <result column="package_weight" property="packageWeight"/>
            <result column="symbol" property="symbol"/>
            <result column="price" property="price"/>
        </collection>
    </resultMap>



    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        lc.id,
        lc.create_time,
        lc.creator,
        lc.creator_name,
        lc.update_time,
        lc.updator,
        lc.updator_name,
        lc.category_name,
        lc.category_alias1,
        lc.category_alias2,
        lc.attribute,
        lc.key_feature1,
        lc.key_feature2,
        lc.key_feature3,
        lc.key_feature4,
        lc.key_feature5,
        lc.is_delete
    </sql>

    <select id="pageByParam" resultMap="pageMap" parameterType="com.xjx.production.entity.category.Category">
        SELECT
            <include refid="Base_Column_List"></include>,
            s.id as sid,
            s.width,
            s.height,
            s.unit,
            s.category_id,
            s.package_weight,
            s.symbol,
            s.size_url,
            s.price
        from
            category lc
        left join size_price s on
            lc.id = s.category_id
        <where>
            1=1
            and lc.is_delete = 0
            and s.is_delete = 0
        </where>
    </select>

</mapper>
