<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xjx.production.repository.product.ProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xjx.production.entity.product.Product">
        <result column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="creator" property="creator"/>
        <result column="creator_name" property="creatorName"/>
        <result column="update_time" property="updateTime"/>
        <result column="updator" property="updator"/>
        <result column="updator_name" property="updatorName"/>
        <result column="category" property="category"/>
        <result column="sku" property="sku"/>
        <result column="parent_sku" property="parentSku"/>
        <result column="description" property="description"/>
        <result column="description_pictures" property="descriptionPictures" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result column="price" property="price"/>
        <result column="key_feature1" property="keyFeature1"/>
        <result column="key_feature2" property="keyFeature2"/>
        <result column="key_feature3" property="keyFeature3"/>
        <result column="key_feature4" property="keyFeature4"/>
        <result column="key_feature5" property="keyFeature5"/>
        <result column="generic_keywords" property="genericKeywords"/>
        <result column="category_id" property="categoryId"/>
        <result column="export_count" property="exportCount"/>
        <result column="extra_info" property="extraInfo"/>
        <result column="is_delete" property="isDelete"/>
        <result column="main_element" property="mainElement"/>
    </resultMap>
    
    <resultMap id="pageMap" type="com.xjx.production.dto.ProductPageResult" extends="BaseResultMap">
        <association property="sizeInfo" javaType="com.xjx.production.dto.ProductPageResult$BaseSizeInfo">
            <result column="width" property="width"/>
            <result column="height" property="height"/>
            <result column="unit" property="unit"/>
            <result column="package_weight" property="packageWeight"/>
            <result column="symbol" property="symbol"/>
        </association>
    </resultMap>
    

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_time,
        creator,
        size_info,
        creator_name,
        update_time,
        updator,
        updator_name,
        main_element,
        category, sku, parent_sku, description, price, description_pictures, key_feature1, key_feature2, key_feature3, key_feature4, key_feature5, generic_keywords, category_id, export_count, extra_info, is_delete
    </sql>

    <select id="selectProductWithSize" resultMap="pageMap">
        SELECT
            p.*,
            s.width,
            s.height,
            s.unit,
            s.package_weight,
            s.symbol
        from
            lxy_product p
                left join lxy_size s on
                p.size_id = s.id
        <where>
            p.is_delete = 0
        </where>
    </select>
</mapper>
