<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xjx.production.repository.user.UmsMemberMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xjx.production.entity.user.UmsMember">
        <result column="id" property="id" />
        <result column="creator" property="creator" />
        <result column="updator" property="updator" />
        <result column="updator_name" property="updatorName" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="user_name" property="userName" />
        <result column="password" property="password" />
        <result column="account_non_Expired" property="accountNonExpired" />
        <result column="account_non_Locked" property="accountNonLocked" />
        <result column="credentials_non_Expired" property="credentialsNonExpired" />
        <result column="enable" property="enable" />
        <result column="is_delete" property="isDelete" />
        <result column="craetor_name" property="craetorName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        creator,
        updator,
        updator_name,
        create_time,
        update_time,
        user_name, password, account_non_Expired, account_non_Locked, credentials_non_Expired, enable, is_delete, craetor_name
    </sql>

</mapper>
